html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.form-signin {
  max-width: 370px;
  padding: 1rem;
}

.form-signin h1 + p {
  font-size: 1.15rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin a.btn {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.fs-7 {
  font-size: 0.9rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-2\.5 {
  margin-bottom: .6rem;
}
