html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.form-plm {
  max-width: 370px;
  padding: 1rem;
}

.form-plm h1 + p {
  font-size: 1.21rem;
}

.form-plm .form-floating .form-control:focus + label,
.form-plm .form-floating .form-control:not(:placeholder-shown) + label {
  transform: scale(.85) translateY(-.3rem) translateX(.15rem);
}

.form-plm .form-floating .form-control + label {
  font-size: 1.25rem;
  padding: 1rem;
  transform: translateY(.2rem);
}

.form-plm .form-floating .form-control {
  padding: 1rem;
  height: 4.4rem;
}

.form-plm .form-floating .form-control:focus,
.form-plm .form-floating .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .3rem;
}

.form-plm .form-floating:focus-within {
  z-index: 2;
}

.form-plm .form-floating:nth-child(1) input:not(.rounded-all) {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-plm .form-floating:nth-child(2) input:not(.rounded-all) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-plm a.btn {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-2\.5 {
  margin-bottom: .6rem;
}

.alert-fixed {
  width: 400px;
  top: 20px;
  right: 20px;
}

.form-plm .btn-outline-secondary {
  font-size: 1.1rem;
}
