name: Deploy to Cpanel

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install Package
        uses: php-actions/composer@v6
        with:
          php_version: '8.2'
          dev: no

      - name:  See Dir
        shell: bash
        run: ls -R

      - name: Start Upload to Cpanel
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ftp.phploginmanagement.co-id.id
          username: plm@phploginmanagement.co-id.id
          password: ${{ secrets.PLM_FTP_PASSWORD }}
          exclude: |
            **/.git*
            **/.git*/**
            **/tests/**
            architecture.txt
            phpunit.xml

      - name: Start Upload to Cpanel /public_html dir
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ftp.phploginmanagement.co-id.id
          username: plm@phploginmanagement.co-id.id
          password: ${{ secrets.PLM_FTP_PASSWORD }}
          local-dir: ./public/
          server-dir: ./public_html/
          exclude: |
            **/.git*
            **/.git*/**
            **/tests/**
            architecture.txt
            phpunit.xml
            **/app/**
            .env.example
            composer.json
            composer.lock
